
.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.movie-list {
  width: 40%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.movie-details {
  width: 60%;
  padding-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

select {
  margin-bottom: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*more styling could be added here in case i had more time*/